<!DOCTYPE html>
<html>

    {% include '_head.twig' %}

    <body>
        <div class=""> 
            
            {% block page %}{% endblock %}
        
        </div>

        {% include '_footer.twig' %}

    </body>
</html>