<!DOCTYPE html>
<html>

    {% include '_head.twig' %}

    <body>
        <div class="container-fluid"> 

            <div class="">
            
                {% block page %}{% endblock %}
            
            </div>

            {% include '_footer.twig' %}
        
        </div>

    </body>
</html>