{% extends 'default.twig' %}

{% block page %}

<div class="">
    <div class="">
        <h1>Le ricette di Paga</h1>
    </div>
    <div class="">
        <ul>
            <li>
                <a href="" target="_blank">
                    <h2>Primi Piatti</h2>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <h2>Secondi Piatti</h2>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <h2>Contorni</h2>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <h2>Dolci</h2>
                </a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}