{% extends 'default.twig' %}

{% block page %}

<div class="index">
    <h1 class="index--title">Le ricette di Paga</h1>
    <ul class="index--menu">
        <li>
            <h2>
                <a href="" target="_blank">Primi Piatti</a>
            </h2>
        </li>
        <li>
            <h2>
                <a href="" target="_blank">Secondi Piatti</a>
            </h2>
        </li>
        <li>
            <h2>
                <a href="" target="_blank">Contorni</a>
            </h2>
        </li>
        <li>
            <h2>
                <a href="" target="_blank">Dolci</a>
            </h2>
        </li>
    </ul>
</div>

{% endblock %}