@mixin home--titolo {
    font-size: 105px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
}

@mixin home--menu {
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}