@import "fonts";
@import "colors";
@import "links";
@import "layouts";

body {
    background: $bg;
    margin: 0;
}

h1 {
    margin: 180px;
    padding: 0;
    @include titolo;
}

h2 {
	margin: 42px;
	padding: 0;
	@include menu;
}