@import "fonts";
@import "colors";
@import "links";
@import "layouts";

body {
    background: $bg;
    margin: 0;
}

h1 {
    margin: 186px;
    padding: 0;
    @include home--titolo;
    color: $title;
}

h2 {
	margin: 21px;
	@include home--menu;
    color: $menu;
}