<!DOCTYPE html>
<html>

    {% include '_head.twig' %}

    <body>

            {% include '_header.twig' %}

            <div class="shell">
            
                {% block page %}{% endblock %}
            
            </div>
            
        </div>

    </body>
    
</html>